@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-linen-white: hsl(0, 0%, 97%);
  --color-light-gray: hsl(210, 20%, 92%);
  --color-dark-slate: hsl(217, 19%, 16%);
  --color-medium-gray: hsl(220, 9%, 57%);
  --color-brand-teal: hsl(168, 72%, 54%);
  --color-profile-green: hsl(84, 79%, 60%);
}

@theme {
  --color-linen-white: hsl(0, 0%, 97%);
  --color-light-gray: hsl(210, 20%, 92%);
  --color-dark-slate: hsl(217, 19%, 16%);
  --color-medium-gray: hsl(220, 9%, 57%);
  --color-brand-teal: hsl(168, 72%, 54%);
  --color-profile-green: hsl(84, 79%, 60%);
}

@layer components {

  .social-link-container {
    @apply flex items-center rounded gap-1 border border-dark-slate/30 dark:border-light-gray/30 hover:bg-light-gray dark:hover:bg-transparent dark:hover:border-brand-teal;
  }

  a.social-link {
    @apply p-2 dark:hover:text-brand-teal hover:text-brand-teal;
  }

  .tab.active {
    @apply text-dark-slate dark:text-brand-teal;
  }


}