---
import {getCollection, getEntry, type CollectionEntry} from 'astro:content';

import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import EducationCard from '../components/EducationCard.astro';
import SkillsSection from '../components/SkillsSection.astro';
import BeamsContainer from '../components/BeamsContainer.astro';

const profile = await getEntry('profile', 'profile');
const WorkExperienceEntries = await getCollection('work');
const EducationEntries = await getCollection('education');

const { Content: ProfileContent } = await profile.render();

const workExperience = await Promise.all(
    WorkExperienceEntries.map(async (job:CollectionEntry<'work'>) => {
        const { Content } = await job.render();
        return {
            ...job,
            Content,
        };
    })
);

const educationEntry = await Promise.all(
	EducationEntries.map(async (education:CollectionEntry<'education'>) => {
		const { Content } = await education.render();
		return{
			...education,
			Content,
		};
	})
);
---

<Layout>
  <Hero profileData={profile.data} ProfileContent={ProfileContent} />
	<section>
		<h2 class="text-2xl mb-4 dark:text-linen-white">Work Experience</h2>
		<div class="grid gap-6">
			{workExperience.map((job) => (
        		<ExperienceCard entry={job.data}>
					<job.Content />
        		</ExperienceCard>
    		))}
		</div>
	</section>
	<section>
		<h2 class="text-2xl mb-4 dark:text-linen-white">Education</h2>
		<div class="grid gap-6">
			{educationEntry.map((education) => (
        		<EducationCard entry={education.data}>
					<education.Content />
        		</EducationCard>
    		))}
		</div>
	</section>
	<SkillsSection />
  <BeamsContainer>
	  <div class="flex flex-col md:flex-row items-center justify-center gap-4">
		<a href="/contact" class="px-4 py-2 border rounded bg-linen-white dark:bg-dark-slate dark:text-linen-white hover:border-brand-teal hover:text-brand-teal hover:bg-dark-slate">Contact me</a>
		<a href="/projects" class="px-4 py-2 border rounded bg-linen-white dark:bg-dark-slate dark:text-linen-white hover:border-brand-teal hover:text-brand-teal hover:bg-dark-slate">Check out my projects</a>
    </div>
  </BeamsContainer>
</Layout>
