---
import Layout from '../layouts/Layout.astro';
// import { getRepos } from '../lib/github';
import {getCollection, type CollectionEntry} from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';

// Fetch the data at build time!
// const allProjects = await getRepos();

const projectEntries = await getCollection('project');

const projectEntry = await Promise.all(
    projectEntries.map(async (project: CollectionEntry<'project'>) => {
        return {
            ...project.data,
        };
    })
);
---

<Layout title="Projects">
    <section class="flex flex-col gap-10">
        <div class="max-w-4xl mx-auto text-center py-4">
            <h1 class="text-4xl font-bold mb-4">Check Out My Projects</h1>
            <p class="text-medium-gray">
                Here's a selection of projects I've been working on recently.
            </p>
        </div>

        <div class="max-w-6xl mx-auto grid grid-cols-1 gap-8">
            <!-- {allProjects.map(project => (
                <ProjectCard repo={project} />
            ))} -->
			    {projectEntry.map((project) => (
            <ProjectCard entry={project} />
    		  ))}
        </div>
    </section>
</Layout>
