---
import { Twitter, Linkedin, Github } from 'lucide-svelte';
---

<footer>
    <div class="border-t border-t-medium-gray py-4 flex items-center justify-between">
        <div>
            <p>Temesgen Adane</p>
            <p id="copyright">© <span id="year"></span></p>
        </div>
        <div class="social-link-container">
            <a class="social-link" href="https://x.com/temesgen982" target="_blank"> 
                <Twitter strokeWidth={1} />
            </a> 
            <a class="social-link" href="https://www.linkedin.com/in/temesgen-adane-a04823372/" target="_blank"> 
                <Linkedin strokeWidth={1} /> 
            </a>
            <a class="social-link" href="https://github.com/temesgen-982" target="_blank"> 
                <Github strokeWidth={1} />
            </a>
      </div>    </div>
</footer>

<script>
  document.getElementById('year').textContent = new Date().getFullYear().toString();
</script>
