---
import { Twitter, Linkedin, Github } from 'lucide-svelte';
---

<footer>
    <div class="border-t border-t-gray-500 py-4 flex items-center justify-between">
        <div>
            <p>Temesgen Adane</p>
            <p>© 2025</p>
        </div>
        <div class="flex gap-4">
            <a class="p-2 border rounded hover:bg-light-gray" href="https://x.com/BeshowOnCode"> 
                <Twitter strokeWidth={1} />
            </a> 
            <a class="p-2 border rounded hover:bg-light-gray" href="https://www.linkedin.com/in/temesgen-adane-a04823372/"> 
                <Linkedin strokeWidth={1} /> 
            </a>
            <a class="p-2 border rounded hover:bg-light-gray" href="https://github.com/temesgen-982"> 
                <Github strokeWidth={1} /> 
            </a>
        </div>
    </div>
</footer>