---
import ThemeToggle from './ThemeToggle.svelte';
---

<header class="flex gap-2 md:gap-3">
    <nav class="flex justify-between border rounded p-3 grow">
        <a href="/">Home</a>
        <ul class="flex gap-4">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <ThemeToggle client:load />
</header>