---
import ThemeToggle from './ThemeToggle.astro';
const { currentUrl } = Astro.props;
---

<header class="flex gap-2 md:gap-3">
    <nav class="flex justify-between border border-dark-slate/30 rounded dark:border-medium-gray/30 px-2 py-2 grow">
      <a href="/" class={`pb-1 border-b-2 transition-colors duration-300 ${currentUrl === '/' ? 'border-brand-teal font-medium' : 'border-transparent hover:border-brand-teal'}`}>Home</a>
      <ul class="flex gap-4">
        <li><a href="/projects" class={`pb-1 border-b-2 transition-colors duration-300 ${currentUrl.startsWith('/projects') ? 'border-brand-teal font-medium' : 'border-transparent hover:border-brand-teal'}`}>Projects</a></li>
        <li><a href="/blog" class={`pb-1 border-b-2 transition-colors duration-300 ${currentUrl.startsWith('/blog') ? 'border-brand-teal font-medium' : 'border-transparent hover:border-brand-teal'}`}>Blog</a></li>
        <li><a href="/contact" class={`pb-1 border-b-2 transition-colors duration-300 ${currentUrl.startsWith('/contact') ? 'border-brand-teal font-medium' : 'border-transparent hover:border-brand-teal'}`}>Contact</a></li>
      </ul>  
    </nav>
    <ThemeToggle client:load />
</header>
