---
import { Image } from 'astro:assets';
import avatarImage from '../assets/potrait.webp';
import { Twitter, Linkedin, Github, MapPin, Mail } from 'lucide-svelte';
---

<div class="flex flex-col md:flex-row gap-10 md:gap-10">
    <div class="grid items-center justify-right">
        <Image
            src={avatarImage}
            alt="Potrait Image"
            width={600}
            height={600}
            format="webp"
            quality={100}
            class="object-cover rounded-lg ml-auto w-35 h-35 md:w-100 md:h-40"
            loading="eager"
            fetchpriority="high"
        />
    </div>
    <div class="grid flex-wrap items-center content-center grow justify-start justify-items-start gap-3">
        <div class="flex flex-col gap-2">
            <h1 class="text-3xl text-dark-slate dark:text-linen-white">Temesgen Adane</h1>
            <p class="text-medium-gray">Frontend Developer</p>
        </div>
        <div class="flex flex-col gap-2">
            <p>I build intuitive, clean interfaces with depth and soul. From Astro builds to Svelte experiments and React applications, I code with clarity and character—refining every detail until it feels true. Always iterating, always evolving—my work isn’t just functional; it’s thoughtful and adaptable.</p>
            <p class="flex gap-1 text-medium-gray"><MapPin strokeWidth={1.25} />Addis Ababa</p>
        </div>
        <div class="flex gap-4">
            <a class="p-2 border rounded hover:bg-light-gray dark:border-light-gray dark:hover:bg-transparent dark:hover:border-brand-teal dark:hover:text-brand-teal" href="https://x.com/BeshowOnCode"> 
                <Twitter strokeWidth={1} />
            </a> 
            <a class="p-2 border rounded hover:bg-light-gray dark:border-light-gray dark:hover:bg-transparent dark:hover:border-brand-teal dark:hover:text-brand-teal" href="https://www.linkedin.com/in/temesgen-adane-a04823372/"> 
                <Linkedin strokeWidth={1} /> 
            </a>
            <a class="p-2 border rounded hover:bg-light-gray dark:border-light-gray dark:hover:bg-transparent dark:hover:border-brand-teal dark:hover:text-brand-teal" href="https://github.com/temesgen-982"> 
                <Github strokeWidth={1} />
            </a>
            <a href="mailto:tedenadane@gmail.com" class="flex gap-2 p-2 items-center border rounded dark:bg-brand-teal/5 hover:bg-light-gray dark:hover:bg-brand-teal/5 dark:border-brand-teal dark:hover:text-brand-teal"> 
                <Mail strokeWidth={1.25} />
                Email me
            </a>
        </div>
    </div>
</div>