---
import { Twitter, Linkedin, Github } from 'lucide-svelte';
---

<div class="flex flex-col md:flex-row gap-3 md:gap-10">
    <div class="grid items-center">
        <img src="/public/potrait.png" class="rounded-lg max-w-[150px] ml-auto" alt="potrait picture">
    </div>
    <div class="grid flex-wrap items-center content-center grow justify-start justify-items-start gap-3">
        <h1 class="text-3xl">Temesgen Adane</h1>
        <p>Frontend Developer</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum maxime repudiandae aspernatur eligendi minima eaque reprehenderit ad impedit iste nemo doloremque possimus, nobis delectus blanditiis quos, harum beatae reiciendis nisi quo minus velit voluptatem soluta quis mollitia. Corporis, sit. Et.</p>
        <p>📌Addis Ababa</p>
        <div class="flex gap-4">
            <a class="p-2 border rounded" href=""> 
                <Twitter strokeWidth={1} />
            </a> 
            <a class="p-2 border rounded" href=""> 
                <Linkedin strokeWidth={1} /> 
            </a>
            <a class="p-2 border rounded" href=""> 
                <Github strokeWidth={1} />
            </a>
        </div>
    </div>
</div>