---
import { Image } from 'astro:assets';
import avatarImage from '../assets/potrait.webp';
import { Twitter, Linkedin, Github, MapPin, Mail } from 'lucide-svelte';
---

<div class="flex flex-col md:flex-row gap-10 md:gap-10">
    <div class="grid items-center justify-right">
        <Image
            src={avatarImage}
            alt="Potrait Image"
            width={600}
            height={600}
            format="webp"
            quality={100}
            class="object-cover rounded-lg ml-auto w-35 h-35 md:w-100 md:h-40"
            loading="eager"
            fetchpriority="high"
        />
    </div>
    <div class="grid flex-wrap items-center content-center grow justify-start justify-items-start gap-3">
        <div class="flex flex-col gap-2">
            <h1 class="text-3xl text-dark-slate dark:text-linen-white">Temesgen Adane</h1>
            <p class="text-medium-gray">Frontend Developer</p>
        </div>
        <div class="flex flex-col gap-2">
            <p>From my early C++ beginnings to flirting with Java,and ghosting PHP, I’ve landed in a committed relationship with Tailwind and found a deep love for SvelteKit. Whether it’s Astro builds, React apps, or late-night bug hunts, I craft UIs that vibe hard and ship even smoother. Always learning, always iterating and, sometimes betting on over 1.5 goals — my work isn’t just functional; it’s thoughtful, adaptable, and occasionally influenced by the outcome of a Saturday night La Liga match.</p>
            <p class="flex gap-1 text-medium-gray"><MapPin strokeWidth={1.25} />Addis Ababa</p>
        </div>
        <div class="flex gap-4">
            <a class="social-link" href="https://x.com/BeshowOnCode"> 
                <Twitter strokeWidth={1} />
            </a> 
            <a class="social-link" href="https://www.linkedin.com/in/temesgen-adane-a04823372/"> 
                <Linkedin strokeWidth={1} /> 
            </a>
            <a class="social-link" href="https://github.com/temesgen-982"> 
                <Github strokeWidth={1} />
            </a>
            <a href="mailto:tedenadane@gmail.com" class="flex gap-2 p-2 items-center border border-dark-slate/50 rounded hover:text-brand-teal dark:bg-brand-teal/5 bg-light-gray dark:hover:bg-brand-teal/5 dark:border-brand-teal dark:hover:text-brand-teal"> 
                <Mail strokeWidth={1.25} />
                <span class="text-dark-slate dark:text-linen-white">Email me</span>
            </a>
        </div>
    </div>
</div>