---
import { SKILLS_DATA } from "../lib/skills";
import SkillTag from "./SkillTag.astro";
---

<section>
  <h2 class="text-2xl mb-4 dark:text-linen-white">Skills</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      SKILLS_DATA.map((categoryGroup) => (
        <div class="bg-dark-slate/2 dark:bg-linen-white/2 p-4 rounded-lg border-1 border-dark-slate/2 dark:border-linen-white/2">
          <h3 class="text-lg font-medium mb-3 pl-2 border-l-2 border-brand-teal dark:text-linen-white/80 text-dark-slate/80">
            {categoryGroup.category}
          </h3>
          <div class="flex flex-wrap gap-2">
            {categoryGroup.skills.map((skill) => (
              <SkillTag skill={skill} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
